.container {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

#table tr:nth-child(odd) {
    background-color: #fafafa;
}

#table tr td {
    padding: 10px;
    border: 1px solid;
}